.header{ 
    max-width: 1200px;
    margin: 0 auto;
    padding: 1px 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header h1{
    font-size: 60px;
}
.header strong{
    color: #aeff00;
}

.header-menu{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    text-decoration: none;
    margin-top: 0px;
}

.header-menu a{
    font-size: 1.525rem;
    line-height: 1.0;
    font-weight: 40px;
    text-decoration: none;
    color: #000000;
    display: block;
}

.header-menu a:hover{
    color: #aeff00 ;
    
    transition: 0.5s;
}

@media (max-width: 800px){
    .header{
        flex-direction: column;
        gap: 40px;

    }
    .header a {
        background: #ffffff;
        border-radius: 5px;
    }
}