@import './header.css';
@import './global.css';
@import './introducao.css';
@import './experiencia.css';
@import './formacao.css';
@import './footer.css';
@import './projetos.css';
@import './icones.css';
@import './portifolios.css';
























/*  ========================  PROJETOS  ================================  */

.projetos {
    background: #141414;
    color: #ffffff;
}

.projetos-container {
    max-width: 1200px;
    padding: 40px 10px 0px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
}

.projetos .subtitulo {
    color: #000000;
    max-width: 4ch;
}

.projetos p {
    font-size: 1.7rem;
    line-height: 1.33;
    max-width: 40ch;
    color: #a3a3a3;
}

.projetos-texto{
    font-size: 1.5rem;
    line-height: 1.33;
    max-width: 40ch;
    margin-bottom: 120px;
    color: #a3a3a3;
}

.projetos-bloco img {
    width: 500px;
    height: 200px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.projetos-texto strong {
    color: #ffffff;
}

.projeto-lista {
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
    gap: 50px;
    margin-bottom: 60px;
    white-space: nowrap;
    
}


/* Cor dos icones */
.html{
    color: #000000;
}

.css{
    color: #000000;
}
.java{
    color: #000000;
}
.js{
    color: #000000;
}
.python{
    color: #000000;
}

.pp{
    color: #000000;
}
/* Mudança de cor com Hover */
.html:hover{
    color: #fcac00;
}

.css:hover{
    color: #1100ff;
}
.java:hover{
    color: #ff0000;
}
.js:hover{
    color: #eeff00;
}
.python:hover{
    color: #04f8f8;
}


/* Bloco dos Projetos */
.projetos-bloco {
    background: #424242b4;
    padding: 20px;
    border-radius: 8px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.faculdade-tipo {
    font-size: .975rem;
    text-transform: uppercase;
    color: #a3a3a3;
    margin-bottom: 10px;
}

.faculdade-curso {
    flex: 1;
    font-size: 1.125rem;
    line-height: 1.4;
    margin-bottom: 40px;
    position: relative;
}

.faculdade-curso::before {
    content: "";
    display: block;
    width: 4px;
    height: 20px;
    background: linear-gradient(#b6f829, #67dd8a);
    position: absolute;
    left: -24px;

}

.faculdade-instituicao {
    font-size: 1.125rem;
    color: #a3a3a3;

}

.cursos {
    margin-bottom: 60px;
}

.projetos-extra{
    font-size:20px;
}
.projetos-extra h3 {
    font-size: 1.175rem;
    line-height: 1.4;
    color: #8f8f8f;
    text-transform: uppercase;
    margin-bottom: 30px;
    position: relative;
}

.projetos-extra h3::before{
    display: block;
    content: "";
    width: 24px;
    height: 24px;
    left: -36px;
    top: -4px;
    position: absolute;
    
}


.projetos-extra li {
    font-size: 1.125rem;
    line-height: 1.1;
    margin-bottom: 20px;

}

.projetos-extra span {
    color: #9f9f9f;
}

.cursos li {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 800px){
    .formacao-container{
        grid-template-columns: 1fr;
        padding: 60px 20px;
        gap: 40px;
    }

    .formacao .subtitulo{
        color: #9f9f9f;
    }
    .formacao-texto{
        font-size: 1.25rem;
    }
    .formacao-extra::before{
        position: initial;
    }
}

/*  ========================  PORTIFOLIOS  ================================  */

.portifolios {
    background-color: #141414;
    color: #fff;
    padding: 1px 20px 80px;
}


.portifolios .conteudo{
    max-width: 1500px;
    margin: auto;
}

.portifolios h2{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 20px 0;
}

.portifolios .galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.portifolios .galeria .projeto{
    position: relative;
    max-width: 400px;
    height: fit-content;
    margin: 10px;
    cursor: pointer;
}

.portifolios .galeria .projeto img{
    width: 500px;
    display: block;
    border-radius: 8px;
}

.portifolios .galeria .projeto .overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background:rgba(28, 252, 147, 0.445);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0;
}

.portifolios .galeria .projeto .overlay h3{
    margin-bottom: 20px;
    transition: 1s;
}

.portifolios .galeria .projeto .overlay:hover{
    opacity: 1;
    border-radius: 8px;
    transition: 0s;
}

.portifolios .galeria .projeto:hover{
    transition: 1s;
    Transform: scale(1.09);
}

.portifolios .galeria .projeto .overlay:hover h3{
    margin-bottom: 0px;
}

.portifolios .galeria .projeto a{
    text-decoration: none;
}
.texto-p {
    text-decoration: none;
    color: #fff;
}

/*  ========================  FOOTER  ================================  */

.footer{
    background: #000000;
    
}
.icones-f{
    display: flex;
    gap: 20px;
    margin-left: 50px;
    margin-top: -50px;
    align-items: center;
    justify-content: center;
}

.footer-container{
    max-width: 2000px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer span{
    color: #aeff00;
}

.footer-texto {
    font-size: 1.5rem;
    line-height: 1.33;
    color: #969494;
    margin-top: -40px;
    font-weight: 600;
}

.footer a:hover{
    color: #aeff00 ;
    Transform: scale(1.6);
    transition: 1s;
}

.footer a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #979494;
    gap: 20px;
    margin-top: 10px;
}

.footer-copy {
    grid-column: 1 / -1;
    font-size: 1.125rem;
    color: #8f8f8f;
}

@media (max-width: 800px){
    .footer-container{
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .footer-contato li {
        font-size: 1.5rem;
    }
}