



/*  ========================  HEADER  ================================  */

.header{ 
    background: #ffffff;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header h1{
    font-size: 60px;
}
.header strong{
    color: #aeff00;
}

.header-menu{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    text-decoration: none;
    margin-top: 0px;
}

.header-menu a{
    font-size: 1.525rem;
    line-height: 1.0;
    font-weight: 40px;
    text-decoration: none;
    color: #000000;
    display: block;
}

.header-menu button{
    background-color: transparent;
    border: none;
    
    margin: 0;
    max-width: 16px;
    cursor: pointer;
}

.fa-moon:hover {
    color: rgb(74, 0, 97);
  }
  
  .fa-sun:hover {
    color: rgb(251, 255, 0);
  }

.header-menu a:hover{
    color: #aeff00 ;
    
    transition: 0.5s;
}

@media (max-width: 800px){
    .header{
        flex-direction: column;
        gap: 40px;

    }
    .header a {
        background: #ffffff;
        border-radius: 5px;
    }
}


/*  ========================  INTRODUÇÂO  ================================  */

.introducao {
    background-color: #ffffff;
    max-width: 1200px;
    padding: 40px 250px;
    margin: 0px auto;
    display: grid;
    grid-template-columns: 4fr 8fr;
    gap: 100px;
    align-items: center;
    overflow: hidden;
}
.introducao.dark {
    background-color: #161616;
  }

.introducao img {
    border-radius: 100px;
}

.icones{
    display: flex;
    gap: 30px;
    margin-top: 30px;
    text-decoration: none;
    align-items: center;
    margin-left: 130px;
}

.icones a {
    color: #000000;
}
.icones a:hover {
    color: #aeff00 ;
    Transform: scale(1.3);
    transition: 1s;
}
.introducao span{
    position: relative;
    font-size: 40px;
    font-weight: 600;
}
.texto1 {
    position: relative;
    color: #000000 ;
}
.texto2{
    color:#aeff00;
}
.texto2:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    border-left: 4px solid #000000;
    animation: animate 4s steps(12) infinite;
}
@keyframes animate{
    40%, 60%{
        left: calc(100% + 4px);
    }
    100%{
        left: 0%;
    }
}

.introducao h1{
    font-size: 4.5rem;
    line-height: 1.125;
    margin-bottom: 30px;
    position: relative;
}

.html{
    color: #000000;
}

.introducao h1::before{
    content: '';
    display: block;
    width: 120px;
    height: 100px; 
    position: absolute;
    left: -40px;
    top: -15px;
    z-index: -1;

}

.introducao p {
    font-size: 2.4rem;
    color: #353434;
    
}

@media (max-width: 1000px) {
    .introducao h1{
        font-size: 3rem;

    }
}

@media (max-width: 800px) {
    .introducao{
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }
    .introducao h1 {
        font-size: 2rem;
    }
    .introducao h1::before {
        width: 30px;
        height: 10px;
        left: 6px;
    }
}

@media (max-width: 400px) {
    .introducao {
        grid-template-columns: 1fr;
    }

    .introducao img {
        display: none;
    }
}


/*  ========================  EXPERIENCIA  ================================  */
.experiencia {
    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
    
    
}

.experiencia .subtitulo {
    color: #b6b5b5;
}

.experiencia-texto {
    font-size: 1.8rem;
    line-height: 1.33;
    max-width: 40ch;
    margin-bottom: 60px;
    color: #525252;

}

.experiencia-texto strong{
    color: #141414;

}

.empresa {
    display: grid;
    grid-template-columns:  1fr 1fr;
    gap: 10px 20px;
    padding: 20px;
    background: #c5c3c3;
    margin-bottom: 20px;
    border-radius: 10px;
    position: relative;
}

.empresa-ano {
    position: absolute;
    top: 22px;
    left: -100px;
    text-align: right;
    width: 80px;
    color: #525252;
    font-size: 1.275rem;

}

.empresa::before {
    content: "";
    display: block;
    width: 10px;
    height: 20px;
    background: linear-gradient(#b6f829, #67dd8a);
    position: absolute;
    top: 20px;
    left: -10px;
}

.empresa-titulo {
    font-size: 1.525rem;
    line-height: 1.1;
    font-weight: bold;
}

.empresa-texto{
    font-size: 16px;
    line-height: 1.0;
    color: #242121;

}

.empresa-habilidades {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-content: start;

}

.empresa-habilidades li {
    font-size: 1rem;
    line-height: 1.4;
    border-radius: 5px;
    background: #ececec;
    padding: 5px 10px;
}

@media (max-width: 800px) {
    .experiencia {
        grid-template-columns: 1fr;
        gap: 40px;

    }

    .experiencia .subtitulo{
        color:#141414;

    }

    .experiencia-texto{
        font-size: 1.2rem;

    }
    .empresa-ano {
        position: initial;
        order: 1;
        width: initial;
        text-align: left;
    }
}



/*  ========================  FORMAÇÂO  ================================  */

.formacao {
    background: #535353;
    color: #ffffff;
}

.formacao-container {
    max-width: 1200px;
    padding: 30px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
}

.formacao .subtitulo {
    color: #000000;
    max-width: 4ch;
    
    
}

.formacao p {
    font-size: 1.7rem;
    line-height: 1.33;
    max-width: 40ch;
    color: #d4d4d4;
}

.formacao-texto{
    font-size: 1.5rem;
    line-height: 1.33;
    max-width: 40ch;
    margin-bottom: 120px;
    color: #a3a3a3;

}

.formacao-texto strong {
    color: #ffffff;
}

.faculdade-lista {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 60px;
    
}

.faculdade {
    background: #000000;
    padding: 20px;
    border-radius: 7px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.faculdade-tipo {
    font-size: .975rem;
    text-transform: uppercase;
    color: #a3a3a3;
    margin-bottom: 10px;
}

.faculdade-curso {
    flex: 1;
    font-size: 1.125rem;
    line-height: 1.4;
    margin-bottom: 20px;
    position: relative;
}

.faculdade-curso::before {
    content: "";
    display: block;
    width: 4px;
    height: 20px;
    background: linear-gradient(#b6f829, #67dd8a);
    position: absolute;
    left: -24px;

}

.faculdade-instituicao {
    font-size: 1.125rem;
    color: #a3a3a3;

}

.cursos {
    margin-bottom: 60px;
}

.formacao-extra{
    font-size:20px;
}
.formacao-extra h3 {
    font-size: 1.175rem;
    line-height: 1.4;
    color: #8f8f8f;
    text-transform: uppercase;
    margin-bottom: 30px;
    position: relative;
}

.formacao-extra h3::before{
    display: block;
    content: "";
    width: 24px;
    height: 24px;
    left: -36px;
    top: -4px;
    position: absolute;
    
}

.cursos h3::before{
    background: url(../img/cursos.svg) no-repeat center center;
}

.idiomas h3::before{
    background: url(../img/idiomas.svg) no-repeat center center;
}

.formacao-extra li {
    font-size: 1.125rem;
    line-height: 1.1;
    margin-bottom: 20px;

}

.formacao-extra span {
    color: #9f9f9f;
}

.cursos li {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 800px){
    .formacao-container{
        grid-template-columns: 1fr;
        padding: 60px 20px;
        gap: 40px;
    }

    .formacao .subtitulo{
        color: #9f9f9f;
    }
    .formacao-texto{
        font-size: 1.25rem;
    }
    .formacao-extra::before{
        position: initial;
    }
}


/*  ========================  PROJETOS  ================================  */

.projetos {
    background: #141414;
    color: #ffffff;
}

.projetos-container {
    max-width: 1200px;
    padding: 40px 10px 0px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
}

.projetos .subtitulo {
    color: #000000;
    max-width: 4ch;
}

.projetos p {
    font-size: 1.7rem;
    line-height: 1.33;
    max-width: 40ch;
    color: #a3a3a3;
}

.projetos-texto{
    font-size: 1.5rem;
    line-height: 1.33;
    max-width: 40ch;
    margin-bottom: 120px;
    color: #a3a3a3;
}

.projetos-bloco img {
    width: 500px;
    height: 200px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.projetos-texto strong {
    color: #ffffff;
}

.projeto-lista {
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
    gap: 50px;
    margin-bottom: 60px;
    white-space: nowrap;
    
}


/* Cor dos icones */
.html{
    color: #000000;
}

.css{
    color: #000000;
}
.java{
    color: #000000;
}
.js{
    color: #000000;
}
.python{
    color: #000000;
}

.pp{
    color: #000000;
}
/* Mudança de cor com Hover */
.html:hover{
    color: #fcac00;
}

.css:hover{
    color: #1100ff;
}
.java:hover{
    color: #ff0000;
}
.js:hover{
    color: #eeff00;
}
.python:hover{
    color: #04f8f8;
}


/* Bloco dos Projetos */
.projetos-bloco {
    background: #424242b4;
    padding: 20px;
    border-radius: 8px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.faculdade-tipo {
    font-size: .975rem;
    text-transform: uppercase;
    color: #a3a3a3;
    margin-bottom: 10px;
}

.faculdade-curso {
    flex: 1;
    font-size: 1.125rem;
    line-height: 1.4;
    margin-bottom: 40px;
    position: relative;
}

.faculdade-curso::before {
    content: "";
    display: block;
    width: 4px;
    height: 20px;
    background: linear-gradient(#b6f829, #67dd8a);
    position: absolute;
    left: -24px;

}

.faculdade-instituicao {
    font-size: 1.125rem;
    color: #a3a3a3;

}

.cursos {
    margin-bottom: 60px;
}

.projetos-extra{
    font-size:20px;
}
.projetos-extra h3 {
    font-size: 1.175rem;
    line-height: 1.4;
    color: #8f8f8f;
    text-transform: uppercase;
    margin-bottom: 30px;
    position: relative;
}

.projetos-extra h3::before{
    display: block;
    content: "";
    width: 24px;
    height: 24px;
    left: -36px;
    top: -4px;
    position: absolute;
    
}


.projetos-extra li {
    font-size: 1.125rem;
    line-height: 1.1;
    margin-bottom: 20px;

}

.projetos-extra span {
    color: #9f9f9f;
}

.cursos li {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 800px){
    .formacao-container{
        grid-template-columns: 1fr;
        padding: 60px 20px;
        gap: 40px;
    }

    .formacao .subtitulo{
        color: #9f9f9f;
    }
    .formacao-texto{
        font-size: 1.25rem;
    }
    .formacao-extra::before{
        position: initial;
    }
}

/*  ========================  PORTIFOLIOS  ================================  */

.portifolios {
    background-color: #141414;
    color: #fff;
    padding: 1px 20px 80px;
}


.portifolios .conteudo{
    max-width: 1500px;
    margin: auto;
}

.portifolios h2{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 20px 0;
}

.portifolios .galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.portifolios .galeria .projeto{
    position: relative;
    max-width: 400px;
    height: fit-content;
    margin: 10px;
    cursor: pointer;
}

.portifolios .galeria .projeto img{
    width: 500px;
    display: block;
    border-radius: 8px;
}

.portifolios .galeria .projeto .overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background:rgba(28, 252, 147, 0.445);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0;
}

.portifolios .galeria .projeto .overlay h3{
    margin-bottom: 20px;
    transition: 1s;
}

.portifolios .galeria .projeto .overlay:hover{
    opacity: 1;
    border-radius: 8px;
    transition: 0s;
}

.portifolios .galeria .projeto:hover{
    transition: 1s;
    Transform: scale(1.09);
}

.portifolios .galeria .projeto .overlay:hover h3{
    margin-bottom: 0px;
}

.portifolios .galeria .projeto a{
    text-decoration: none;
}
.texto-p {
    text-decoration: none;
    color: #fff;
}

/*  ========================  FOOTER  ================================  */

.footer{
    background: #000000;
    
}
.icones-f{
    display: flex;
    gap: 20px;
    margin-left: 50px;
    margin-top: -50px;
    align-items: center;
    justify-content: center;
}

.footer-container{
    max-width: 2000px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer span{
    color: #aeff00;
}

.footer-texto {
    font-size: 1.5rem;
    line-height: 1.33;
    color: #969494;
    margin-top: -40px;
    font-weight: 600;
}

.footer a:hover{
    color: #aeff00 ;
    Transform: scale(1.6);
    transition: 1s;
}

.footer a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #979494;
    gap: 20px;
    margin-top: 10px;
}

.footer-copy {
    grid-column: 1 / -1;
    font-size: 1.125rem;
    color: #8f8f8f;
}

@media (max-width: 800px){
    .footer-container{
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .footer-contato li {
        font-size: 1.5rem;
    }
}



/*  ========================  GLOBAL  ================================  */



body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    color: #141414;
    
}

h1, h2, h3, p{
    margin: 0px;
}

ul{
    margin: 0px;
    padding: 0px;
    list-style: none;

}

img{
    max-width: 100%;
    display: block;
}

.subtitulo {
    font-size: 8rem;
    line-height: 1;
    text-transform: uppercase;
    word-break: break-all;
    max-width: 5ch;
}

@media (max-width: 800px) {
    .subtitulo {
        font-size: 3rem;
        text-transform: capitalize;
        max-width: initial !important;
    }
}